
/* about me page image  */

.image img{
height: 250px;
width: 200px !important;

}

.fit{
    display: flex !important;
    justify-content: center !important;
}

/* footer styles  */

.footer h3 {
    color: white !important;
}
